html, body {
    height: 100%;
}

.homeContainer{
    width: 100%;
    /* height: 100%; */
    background-color: rgb(221, 220, 220);
    padding-top: 10px;
    display: flex;
    /* background-size: cover; */
}

.leftSection{
    margin-left: 18px;
    background-color: white;
}

.rightSection{
    background-color: white;
    margin-right: 18px;
}



